<!DOCTYPE html>
<html lang="de">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/client.css') }}" type="text/css" rel="stylesheet" media="screen,projection"
    />
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">roomtemp</a>
            {% if g.user %}
            <ul id="usermenu" class="dropdown-content">
                <li><a href="{{ url_for('device.create') }}"><i class="material-icons">add_location</i>neue Messstation</a></li>
                <li><a href="{{ url_for('auth.logout') }}"><i class="material-icons">exit_to_app</i>logout</a></li>
            </ul>
            {% endif %}
            <ul class="right hide-on-med-and-down">
                {% if g.user %}
                <li><a class="dropdown-trigger" href="#!" data-target="usermenu">{{ g.user['username'] }}<i class="material-icons right">arrow_drop_down</i></a></li>
                {% else %}
                <li><a href="{{ url_for('auth.register') }}">register</a></li>
                <li><a href="{{ url_for('auth.login') }}">login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="flash-modal" class="modal">
            <div class="modal-content">
                <h4>Es sind Fehler aufgetreten:</h4>
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button class="modal-close waves-effect waves-green btn-flat">verstanden</button>
            </div>
        </div>
        {% endif %}
    {% endwith %}


    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col m12">
                    <h4>{% block header %}{% endblock %}</h4>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
        <br>
        <br>
    </div>

    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would
                        help support and continue development on this project and is greatly appreciated.</p>

                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="#!">Link 1</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 2</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 3</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="#!">Link 1</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 2</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 3</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by
                <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/client.js') }}"></script>

</body>

</html>