{% extends 'base.html' %}

{% block title %}Erstelle Messstation{% endblock %}

{% block header %}Erstelle Messstation{% endblock %}

{% block content%}
<div class="row">
    <form class="col s12" method="POST">
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input name="deviceid" id="deviceid" type="text" class="validate">
                <label for="deviceid">deviceid</label>
            </div>
            <div class="input-field col s6 offset-s3">
                <input name="location" id="location" type="text" class="validate">
                <label for="location">location</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s3">
                <button class="btn waves-effect waves-light" type="submit">erstelle
                    <i class="material-icons right">add_location</i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}