{% extends 'base.html' %}

{% block title %}Raumtemperatur{% endblock %}

{% block header %}Wähle eine Messstation:{% endblock %}

{% block content %}

    {% for device in devices %}
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ device['location'] }}</span>
                    <p class="device-meta">erstellt von {{ device['username'] }}</p>
                    <p class="device-meta">device-id: {{ device['device_id'] }}</p>
                </div>
                <div class="card-action right-align">
                    {% if g.user['id'] == device['user_id'] %}
                    <a href="{{ url_for('device.update', id=device['id']) }}">Edit</a>
                    {% endif %}
                    <a href="{{ url_for('device.show', id=device['id']) }}">zeige Temperatur</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}