{% extends 'base.html' %}

{% block title %}Temperaturen für Messstation {{ device['location'] }}{% endblock %}

{% block header %}Temperaturen für Messstation {{ device['location'] }}{% endblock %}

{% block content%}
<p>{{ device['location'] }}</p>
<p>{{ device['device_id'] }}</p>
{% endblock %}