{% extends 'base.html' %}

{% block title %}Editiere Messstation{% endblock %}

{% block header %}editiere Messstation{% endblock %}

{% block content%}
<div class="row">
    <form class="col s12" method="POST">
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input name="deviceid" id="deviceid" type="text" class="validate" value="{{ request.form['deviceid'] or device['device_id'] }}">
                <label for="deviceid">deviceid</label>
            </div>
            <div class="input-field col s6 offset-s3">
                <input name="location" id="location" type="text" class="validate" value="{{ request.form['location'] or device['location'] }}">
                <label for="location">location</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s3">
                <button class="btn waves-effect waves-light" type="submit">speichern
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
    <form class="col s12" method="POST" action="{{ url_for('device.delete', id=device['id']) }}">
        <div class="row">
            <div class="col s6 offset-s3">
                <button class="btn waves-effect waves-light" type="submit">löschen
                    <i class="material-icons right">delete</i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}