{% extends 'base.html' %}

{% block title %}register{% endblock %}

{% block header %}register{% endblock %}

{% block content%}
<div class="row">
    <form class="col s12" method="POST">
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input name="username" id="username" type="text" class="validate">
                <label for="username">username</label>
            </div>
            <div class="input-field col s6 offset-s3">
                <input name="password" id="password" type="password" class="validate">
                <label for="password">password</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s3">
                <button class="btn waves-effect waves-light" type="submit">register
                    <i class="material-icons right">person_add</i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
